{% for did in results %}
<div class="modal modal-blur fade" id="modal-did-{{ loop.index }}" tabindex="-1" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DID Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 mb-3">
                    <div class="">
                        <div class="card-body">
                            <div class="row g-2 align-items-center">
                                <div class="col-auto me-3">
                                    <span class="avatar avatar-xl" style="background-image: url({{ did.avatar }})">
                                    </span>
                                    <div class="mt-3">
                                        {% if did.deactivated == "True" %}
                                        <span class="badge bg-danger-lt w-100">Deactivated</span>
                                        {% else %}
                                        <span class="badge bg-success-lt w-100">Active</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col ms">
                                    <dl class="row">
                                        <dt class="col-1">SCID:</dt>
                                        <dd class="col-11">
                                            <h4 class="card-title m-0">{{ did.scid }}</h4>
                                        </dd>
                                        <dt class="col-1">Domain:</dt>
                                        <dd class="col-11">
                                            <div class="text-secondary">{{ did.domain }}</div>
                                        </dd>
                                        <dt class="col-1">Namespace:</dt>
                                        <dd class="col-11">
                                            <div class="small mt-1">{{ did.namespace }}</div>
                                        </dd>
                                        <dt class="col-1">Alias:</dt>
                                        <dd class="col-11">
                                            <div class="small mt-1">{{ did.identifier }}</div>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <a href="#" class="btn-action" data-bs-toggle="dropdown" aria-expanded="false">
                                            <!-- Download SVG icon from http://tabler.io/icons/icon/dots-vertical -->
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                                                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a target="_blank" href="{{ did.resolver }}"
                                                class="dropdown-item">Resolve</a>
                                            <a href="resources?scid={{ did.scid }}" class="dropdown-item">Browse
                                                Resources</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs nav-bordered card-header-tabs" data-bs-toggle="tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a href="#tabs-whois-{{ did.scid }}" class="nav-link active" data-bs-toggle="tab"
                                        aria-selected="true" role="tab">Whois</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#tabs-witnesses-{{ did.scid }}" class="nav-link" data-bs-toggle="tab"
                                        aria-selected="false" role="tab" tabindex="-1">Witnesses</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#tabs-watchers-{{ did.scid }}" class="nav-link" data-bs-toggle="tab"
                                        aria-selected="false" role="tab" tabindex="-1">Watchers</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#tabs-history-{{ did.scid }}" class="nav-link" data-bs-toggle="tab"
                                        aria-selected="false" role="tab" tabindex="-1">History</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#tabs-resources-{{ did.scid }}" class="nav-link" data-bs-toggle="tab"
                                        aria-selected="false" role="tab" tabindex="-1">Resources</a>
                                </li>
                                <li class="nav-item ms-auto" role="presentation">
                                    <a href="#tabs-settings-{{ did.scid }}" class="nav-link" title="Settings"
                                        data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1"><i
                                            class="icon ti ti-settings"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tabs-whois-{{ did.scid }}" role="tabpanel">
                                    <div class="row">
                                        {% if did.whois %}
                                        {% for credential in did.whois.verifiableCredential %}
                                        <div class="col-md-12">
                                            <a class="card card-link" href="#">
                                                <div class="card-body">
                                                    <div class="row">
                                                        {# <div class="col-auto">
                                                            <span class="avatar avatar-2 rounded"
                                                                style="background-image: url(./static/avatars/004m.jpg)">
                                                            </span>
                                                        </div> #}
                                                        <div class="col">
                                                            <div class="font-weight-medium">{{ credential.type }}</div>
                                                            <div class="text-secondary">{{ credential.issuer }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-witnesses-{{ did.scid }}" role="tabpanel">
                                    <div class="row">
                                        {% if did.witnesses %}
                                        {% for witness in did.witnesses %}
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row g-2 align-items-center">
                                                        {# <div class="col-auto">
                                                            <span class="avatar avatar-lg"
                                                                style="background-image: url()">
                                                            </span>
                                                        </div> #}
                                                        <div class="col">
                                                            <h4 class="card-title m-0">
                                                                <a href="#">{{ witness.id }}</a>
                                                            </h4>
                                                            <div class="text-secondary">Witness Service</div>
                                                            <div class="small mt-1"><span class="badge bg-green"></span>
                                                                Online</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-watchers-{{ did.scid }}" role="tabpanel">
                                    <div class="row">
                                        {% if did.watchers %}
                                        {% for watcher in did.watchers %}
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row g-2 align-items-center">
                                                        {# <div class="col-auto">
                                                            <span class="avatar avatar-lg"
                                                                style="background-image: url()">
                                                            </span>
                                                        </div> #}
                                                        <div class="col">
                                                            <h4 class="card-title m-0">
                                                                <a target="_blank" href="{{ watcher }}">{{ watcher }}</a>
                                                            </h4>
                                                            <div class="text-secondary">Watcher Service</div>
                                                            <div class="small mt-1"><span class="badge bg-green"></span>
                                                                Online</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <a target="_blank" href="{{ watcher+'/log?scid='+did.scid }}" class="btn"> Log File </a>
                                                        </div>
                                                        <div class="col-auto">
                                                            <a target="_blank" href="{{ watcher+'/witness?scid='+did.scid }}" class="btn"> Witness File </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-history-{{ did.scid }}" role="tabpanel">
                                    <div class="row">
                                        {% for log in did.logs %}
                                        <div class="col-md-12">
                                            <a class="card card-link" href="#">
                                                <div class="card-body">
                                                    <div class="row">
                                                        {# <div class="col-auto">
                                                            <span class="avatar avatar-2 rounded"
                                                                style="background-image: url(./static/avatars/004m.jpg)">
                                                            </span>
                                                        </div> #}
                                                        <div class="col">
                                                            <div class="font-weight-medium">{{ log.versionId }}</div>
                                                            <div class="text-secondary">{{ log.versionTime }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-resources-{{ did.scid }}" role="tabpanel">
                                    <div class="row">
                                        {% for resource in did.resources %}
                                        <div class="col-md-12">
                                            <a class="card card-link" href="#">
                                                <div class="card-body">
                                                    <div class="row">
                                                        {# <div class="col-auto">
                                                            <span class="avatar avatar-2 rounded"
                                                                style="background-image: url(./static/avatars/004m.jpg)">
                                                            </span>
                                                        </div> #}
                                                        <div class="col">
                                                            <div class="font-weight-medium">{{ resource.type }}
                                                            </div>
                                                            <div class="text-secondary">{{ resource.details }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-settings-{{ did.scid }}" role="tabpanel">
                                    <h4>Settings</h4>
                                    <div class="text-secondary">{{ did.id }}</div>
                                    <div><a href="resources?scid={{ did.scid }}"><i
                                                class="icon ti ti-clipboard-search"></i> Browse Resources</a></div>
                                    <div><a target="_blank" href="{{ did.links.resolver }}"><i
                                                class="icon ti ti-external-link"></i> Resolve DID</a></div>
                                    <div><a target="_blank" href="{{ did.links.log_file }}"><i
                                                class="icon ti ti-external-link"></i> Log File</a></div>
                                    <div><a target="_blank" href="{{ did.links.witness_file }}"><i
                                                class="icon ti ti-external-link"></i> Witness File</a></div>
                                    <div><a target="_blank" href="{{ did.links.whois }}"><i
                                                class="icon ti ti-external-link"></i> Whois Presentation</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                {# <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button> #}
            </div>
        </div>
    </div>
</div>
{% endfor %}