<footer class="footer d-print-none">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <ul class="list-inline list-inline-dots mb-0 justify-content-center">
                    <li class="list-inline-item">
                        <a href="{{ branding.app_url }}" target="_blank" class="link-secondary" rel="noopener">
                            <i class="ti ti-building me-1"></i>{{ branding.app_name }}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://didwebvh.info" target="_blank" class="link-secondary" rel="noopener">
                            <i class="ti ti-info-circle me-1"></i>About DID WebVH
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/docs" target="_blank" class="link-secondary" rel="noopener">
                            <i class="ti ti-code me-1"></i>API Documentation
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/decentralized-identity/didwebvh-server-py" target="_blank" class="link-secondary" rel="noopener">
                            <i class="ti ti-brand-github me-1"></i>GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

