<header class="navbar navbar-expand-md d-print-none">
    <div class="container-xl">
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="/" aria-label="{{ branding.app_name }}">
                <img src="https://opsecid.github.io/did.observer/icon.ico" alt="{{ branding.app_name }}" height="32" class="navbar-brand-image">
            </a>
        </h1>
        <div class="navbar-nav d-none d-md-flex align-items-center me-auto">
            <div class="nav-item">
                <span class="badge bg-white text-dark me-2 user-select-all">
                    <i class="ti ti-world me-1"></i>{{ (branding.app_url | replace('https://', ''))[:64] }}
                </span>
            </div>
        </div>
        <div class="navbar-nav flex-row order-md-last">
            <div class="d-none d-md-flex">
                <div class="nav-item">
                    <a href="/" class="nav-link px-3">
                        <i class="ti ti-home me-1"></i>
                        <span>Home</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="dids" class="nav-link px-3">
                        <i class="ti ti-fingerprint me-1"></i>
                        <span>DIDs</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="resources" class="nav-link px-3">
                        <i class="ti ti-files me-1"></i>
                        <span>Resources</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="/docs" class="nav-link px-3" target="_blank">
                        <i class="ti ti-code me-1"></i>
                        <span>API</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>