{% for resource in results %}
<div class="modal modal-blur fade" id="modal-resource-{{ loop.index }}" tabindex="-1" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-full-width modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Resource Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 mb-3">
                    <div class="">
                        <div class="card-body">
                            <div class="row g-2 align-items-center">
                                {# <div class="col-auto me-3">
                                    <span class="avatar avatar-xl"
                                        style="background-image: url({{ resource.author.avatar }})">
                                    </span>
                                    <div class="mt-3">
                                        <span class="w-100">Author</span>
                                    </div>
                                </div> #}
                                <div class="col ms">
                                    <dl class="row">
                                        <dt class="col-1">Digest:</dt>
                                        <dd class="col-11">
                                            <h4 class="card-title m-0">{{ resource.resource_id }}</h4>
                                        </dd>
                                        <dt class="col-1">Type:</dt>
                                        <dd class="col-11">
                                            <div class="text-secondary">{{ resource.resource_type }}</div>
                                        </dd>
                                        <dt class="col-1">Details:</dt>
                                        <dd class="col-11">
                                            <div class="small mt-1">{{ resource.details }}</div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs nav-bordered card-header-tabs" data-bs-toggle="tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a href="#tabs-content-{{ resource.resource_id }}" class="nav-link active"
                                        data-bs-toggle="tab" aria-selected="true" role="tab">Content</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#tabs-metadata-{{ resource.resource_id }}" class="nav-link" data-bs-toggle="tab"
                                        aria-selected="false" role="tab" tabindex="-1">Metadata</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#tabs-links-{{ resource.resource_id }}" class="nav-link" data-bs-toggle="tab"
                                        aria-selected="false" role="tab" tabindex="-1">Links</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="#tabs-author-{{ resource.resource_id }}" class="nav-link" data-bs-toggle="tab"
                                        aria-selected="false" role="tab" tabindex="-1">Author</a>
                                </li>
                                <li class="nav-item ms-auto" role="presentation">
                                    <a href="#tabs-settings-{{ resource.resource_id }}" class="nav-link" title="Settings"
                                        data-bs-toggle="tab" aria-selected="false" role="tab"
                                        tabindex="-1"><!-- Download SVG icon from http://tabler.io/icons/icon/settings -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                                            <path
                                                d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z">
                                            </path>
                                            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                        </svg></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tabs-content-{{ resource.resource_id }}"
                                    role="tabpanel">
                                    <div class="row">
                                        <div class="card-body">
                                            <pre>{{ resource.attested_resource.content | tojson(indent=2) }}</pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-metadata-{{ resource.resource_id }}" role="tabpanel">

                                    <dl class="row">
                                        {% for data in resource.attested_resource.metadata %}
                                        <dt class="col-2">{{ data }}:</dt>
                                        <dd class="col-10">{{ resource.attested_resource.metadata[data] }}</dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                                <div class="tab-pane" id="tabs-links-{{ resource.resource_id }}" role="tabpanel">
                                    <div class="row">
                                        {% if resource.attested_resource.links %}
                                        {% for link in resource.attested_resource.links %}
                                        <div class="col-md-12">
                                            <a class="card card-link" href="#">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="font-weight-medium">{{ link.type }}</div>
                                                            <div class="text-secondary">{{ link.id.split('/')[-1] }}
                                                            </div>
                                                            <div class="text-secondary">{{ link.timestamp }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-author-{{ resource.resource_id }}" role="tabpanel">
                                    <div class="row">
                                        <div class="col-auto me-3">
                                            <span class="avatar avatar-xl"
                                                style="background-image: url({{ resource.author.avatar }})">
                                            </span>
                                        </div>
                                        <div class="col ms">
                                            <dl class="row">
                                                <dt class="col-2">SCID:</dt>
                                                <dd class="col-10">
                                                    <h4 class="card-title m-0">{{ resource.author.scid }}</h4>
                                                </dd>
                                                <dt class="col-2">Domain:</dt>
                                                <dd class="col-10">
                                                    <div class="text-secondary">{{ resource.author.domain }}</div>
                                                </dd>
                                                <dt class="col-2">Namespace:</dt>
                                                <dd class="col-10">
                                                    <div class="small mt-1">{{ resource.author.namespace }}</div>
                                                </dd>
                                                <dt class="col-2">Alias:</dt>
                                                <dd class="col-10">
                                                    <div class="small mt-1">{{ resource.author.alias }}</div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-settings-{{ resource.resource_id }}" role="tabpanel">
                                    <h4>Settings</h4>
                                    <div class="text-secondary">{{ resource.attested_resource.id }}</div>
                                    <div><a target="_blank" href="{{ resource.url }}"><i
                                                class="icon ti ti-external-link"></i> Fetch Resource</a></div>
                                    <div><a href="dids?scid={{ resource.author.scid }}"><i
                                                class="icon ti ti-clipboard-search"></i> View Author</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}