{% extends 'layouts/base.jinja' %}
{% block page %}
<div class="page-wrapper">
    <div class="page-header d-print-none" aria-label="Page header">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">Resources</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                {% include 'components/resource_list.jinja' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}