---
apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    "helm.sh/resource-policy": keep
  name: {{ include "server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
data:
  WEBVH_DOMAIN: {{ .Values.server.host | quote }}
  APP_PORT: {{ .Values.server.service.apiPort | quote }}
  {{- if .Values.server.workers }}
  APP_WORKERS: {{ .Values.server.workers | quote }}
  {{- end }}
  {{- $policies := .Values.server.policies | default dict }}
  {{- $knownKey := .Values.server.known_witness_key | default (get $policies "webvh_known_witness_key") }}
  {{- $knownRegistry := .Values.server.known_witness_registry | default (get $policies "webvh_known_registry_url") }}
  {{- if $knownKey }}
  KNOWN_WITNESS_KEY: {{ $knownKey | quote }}
  {{- end }}
  {{- if $knownRegistry }}
  KNOWN_WITNESS_REGISTRY: {{ $knownRegistry | quote }}
  {{- end }}
  {{- if .Values.server.policies }}
  WEBVH_VERSION: {{ .Values.server.policies.webvh_version | default "1.0" | quote }}
  WEBVH_WITNESS: {{ .Values.server.policies.webvh_witness | default "false" | quote }}
  WEBVH_WATCHER: {{ .Values.server.policies.webvh_watcher | default "" | quote }}
  WEBVH_PREROTATION: {{ .Values.server.policies.webvh_prerotation | default "false" | quote }}
  WEBVH_PORTABILITY: {{ .Values.server.policies.webvh_portability | default "false" | quote }}
  WEBVH_ENDORSEMENT: {{ .Values.server.policies.webvh_endorsement | default "false" | quote }}
  {{- end }}
  {{- if .Values.server.branding }}
  APP_NAME: {{ .Values.server.branding.app_name | default "DID WebVH Server" | quote }}
  APP_DESCRIPTION: {{ .Values.server.branding.app_description | default "An api server to register and serve web dids with verifiable history." | quote }}
  APP_ICON: {{ .Values.server.branding.icon | default "https://didwebvh.info/latest/assets/favicon.ico" | quote }}
  APP_LOGO_VERTICAL: {{ .Values.server.branding.logo_vertical | default "https://raw.githubusercontent.com/decentralized-identity/didwebvh-info/main/docs/assets/didwebvh.jpg" | quote }}
  APP_LOGO_HORIZONTAL: {{ .Values.server.branding.logo_horizontal | default "https://raw.githubusercontent.com/decentralized-identity/didwebvh-info/main/docs/assets/didwebvh.jpg" | quote }}
  APP_PRIMARY_COLOR: {{ .Values.server.branding.app_primary_color | default "#1a365d" | quote }}
  APP_SECONDARY_COLOR: {{ .Values.server.branding.app_secondary_color | default "#38a169" | quote }}
  APP_ACCENT_COLOR: {{ .Values.server.branding.app_accent_color | default "#3182ce" | quote }}
  {{- end }}