{{- if .Values.postgres.enabled }}
{{- $secretName := include "global.postgres.fullname" . }}
{{- $adminPassword := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $secretName "Key" "postgres-password" "Length" 32) }}
{{- $userPassword := include "getOrGeneratePass" (dict "Namespace" .Release.Namespace "Kind" "Secret" "Name" $secretName "Key" "password" "Length" 32) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace | quote }}
  annotations:
    "helm.sh/resource-policy": keep
  labels:
    {{- include "server.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
type: Opaque
data:
  postgres-password: {{ $adminPassword }}
  user: {{ .Values.postgres.customUser.name | b64enc | quote }}
  database: {{ (.Values.postgres.customUser.database | default .Values.postgres.auth.database) | b64enc | quote }}
  password: {{ $userPassword }}
{{- end }}
