---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "server.fullname" . }}
  labels:
    {{- include "server.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.server.replicaCount }}
  selector:
    matchLabels:
      {{- include "server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- toYaml .Values.server.podAnnotations | nindent 8 }}
      labels:
        {{- include "server.selectorLabels" . | nindent 8 }}
    spec:
      imagePullSecrets:
        {{- toYaml .Values.server.image.pullSecrets | nindent 8 }}
      securityContext:
        {{- toYaml .Values.server.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ include "server.fullname" . }}
          securityContext:
            {{- toYaml .Values.server.containerSecurityContext | nindent 12 }}
          image: "{{ .Values.server.image.repository }}:{{ .Values.server.image.tag }}"
          imagePullPolicy: {{ .Values.server.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "server.fullname" . }}
          env:
            - name: WEBVH_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "server.fullname" . }}
                  key: api-key
            - name: POSTGRES_DB
              value: {{ .Values.postgres.customUser.database | quote }}
            - name: POSTGRES_USER
              value: {{ .Values.postgres.customUser.name | quote }}
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "global.postgres.fullname" . | quote }}
                  key: password
            - name: POSTGRES_SERVER_NAME
              value: {{ include "global.postgres.fullname" . | quote }}
            - name: POSTGRES_SERVER_PORT
              value: {{ .Values.postgres.service.port | quote }}
          ports:
            - name: api
              containerPort: {{ .Values.server.service.apiPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/server/status
              port: {{ .Values.server.service.apiPort }}
            failureThreshold: 2
            initialDelaySeconds: 60
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /api/server/status
              port: {{ .Values.server.service.apiPort }}
            initialDelaySeconds: 60
          resources:
            {{- toYaml .Values.server.resources | nindent 12 }}
      nodeSelector:
        {{- toYaml .Values.server.nodeSelector | nindent 8 }}
      affinity:
        {{- toYaml .Values.server.affinity | nindent 8 }}
      tolerations:
        {{- toYaml .Values.server.tolerations | nindent 8 }}